<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="nl.avans.mbd-2085800" version="1.0.0">
    <name>Kroegen Zoeker</name>
    <description>Kroegen in de buurt zoeken.</description>
    <author href="http://www.avans.nl" email="pjcleijs@avans.nl">Patrick Leijser en Ralf Hendriks</author>
    <content src="index.html"/>

    <plugin name="cordova-plugin-device" source="pgb"/>
    <plugin name="cordova-plugin-file-transfer" source="pgb"/>
    <plugin name="cordova-plugin-file" source="pgb"/>
    <plugin name="cordova-plugin-geolocation" source="pgb"/>
    <plugin name="cordova-plugin-splashscreen" source="pgb"/>
    <plugin name="cordova-plugin-whitelist" version="1"/>
    <plugin name="cordova-plugin-contacts" source="pgb"/>

    <preference name="orientation" value="default"/>
    <preference name="target-device" value="universal"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="stay-in-webview" value="false"/>
    <preference name="ios-statusbarstyle" value="black-opaque"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="disable-cursor" value="false"/>
    <preference name="android-minSdkVersion" value="14"/>
    <preference name="android-installLocation" value="auto"/>



    <icon src="icon.png"/>


    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <splash src="splash.png" />

    <platform name="android">
        <!-- you can use any density that exists in the Android project -->
        <splash src="splash.png" density="land-hdpi"/>
        <splash src="splash.png" density="land-ldpi"/>
        <splash src="splash.png" density="land-mdpi"/>
        <splash src="splash.png" density="land-xhdpi"/>
        <splash src="splash.png" density="port-hdpi"/>
        <splash src="splash.png" density="port-ldpi"/>
        <splash src="splash.png" density="port-mdpi"/>
        <splash src="splash.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <!-- images are determined by width and height. The following are supported -->
        <splash src="splash.png" width="320" height="480"/>
        <splash src="splash.png" width="640" height="960"/>
        <splash src="splash.png" width="768" height="1024"/>
        <splash src="splash.png" width="1536" height="2048"/>
        <splash src="splash.png" width="1024" height="768"/>
        <splash src="splash.png" width="2048" height="1536"/>
        <splash src="splash.png" width="640" height="1136"/>
        <splash src="splash.png" width="750" height="1334"/>
        <splash src="splash.png" width="1242" height="2208"/>
        <splash src="splash.png" width="2208" height="1242"/>
    </platform>


    <access origin="tel:*" launch-external="yes" />
    <access origin="geo:*" launch-external="yes" />


    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>

</widget>