<!DOCTYPE html>
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Phonegap -->
    <script src="cordova.js"></script>
    <script src="assets/js/platformOverrides.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Modules -->
    <script src="assets/lib/angular/angular.js"></script>
    <script src="assets/lib/onsen/js/onsenui.js"></script>
    <script src="assets/js/cordovaGeolocationModule.js"></script>
    <script src="assets/lib/imgcache/imgcache.js"></script>
    <script src="assets/lib/imgcache/angular-imgcache.js"></script>

    <!-- App -->
    <script src="assets/js/app.js"></script>

    <!-- Services -->
    <script src="assets/js/services/SharedPropertiesService.js"></script>
    <script src="assets/js/services/DataService.js"></script>

    <!-- Controllers -->
    <script src="assets/js/controllers/AppController.js"></script>
    <script src="assets/js/controllers/DetailController.js"></script>
    <script src="assets/js/controllers/MasterController.js"></script>
    <script src="assets/js/controllers/OptionsController.js"></script>
    <script src="assets/js/controllers/MapController.js"></script>
    <script src="assets/js/controllers/BarsController.js"></script>

    <!-- Styling -->
    <link rel="stylesheet" href="assets/lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="assets/lib/onsen/css/onsen-css-components.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />


    <title>Kroegen Race</title>

</head>

<body ng-controller="AppController">

<ons-navigator var="navi">
    <ons-page ng-controller="MasterController">
        <ons-toolbar modifier="transparent">
            <div class="left">
                <ons-toolbar-button ng-click="addRace()"><ons-icon icon="ion-plus-round" style="vertical-align: -4px; font-size: 28px;"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Kroegen Races</div>
            <div class="right">
                <ons-toolbar-button ng-click="showOptions()"><ons-icon icon="ion-ios-gear" style="vertical-align: -4px; font-size: 28px;"></ons-icon></ons-toolbar-button>
            </div>
        </ons-toolbar>

        <ons-page>
            <div ng-hide="items" class="text-center">
                <p><span style='opacity: 0.7;' ng-hide="error"><ons-icon icon='fa-spinner' spin='true'></ons-icon> Kroegen aan het zoeken...</span></p>
                <p ng-show="error">{{error}}</p>
            </div>

            <!-- PHONE -->
            <!--<div class="show-phone">-->
                <ons-list ng-show="items">
                    <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
                        <ons-row>
                            <ons-col>
                                <header>
                                    <span class="item-title">{{item.name}}</span>
                                </header>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                </ons-list>
            <!--</div>-->

            <!-- TABLET -->
            <!--<div class="show-tablet">
                <ons-split-view
                        secondary-page="list.html"
                        main-page=""
                        main-page-width="70%"
                        collapse="portrait" var="splitView">
                </ons-split-view>
            </div> -->
        </ons-page>
    </ons-page>
</ons-navigator>


</body>
</html>