<ons-page>
    <ons-list ng-show="listLoaded">
        <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetailTablet($index)">
            <ons-row>
                <ons-col width="80px">
                    <img ng-src="{{item.icon}}" class="item-thum">
                </ons-col>
                <ons-col>
                    <header>
                        <span class="item-title">{{item.name}}</span>
                    </header>
                    <p class="item-desc">{{item.vicinity}}</p>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
</ons-page>