<ons-page ng-controller="OptionsController">
    <ons-toolbar>
        <div class="left"><ons-back-button>Terug</ons-back-button></div>
        <div class="center">Instellingen</div>
    </ons-toolbar>

    <div class="settings-header">Cache</div>

    <ons-list modifier="inset" class="settings-list">
        <ons-list-item>
            Inschakelen
            <ons-switch modifier="list-item" ng-model="cacheEnabled" ng-change="saveSettings()"></ons-switch>
        </ons-list-item>
        <ons-list-item modifier="tappable" class="button" ng-click="deleteCache()">
            <ons-icon icon="ion-ios-trash" style="opacity: 0.8"></ons-icon>
            Verwijder cache
        </ons-list-item>
    </ons-list>


</ons-page>