.ng-hide {
    display: none!important;
}

.text-center {
    text-align: center;
}


/* Details */
.page--shop-details__content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px !important;
    bottom: 0px;
}

ons-back-button.white span {
    color: white;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}

.card {
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
    color: white;
    height: 250px;
}

.card-name {
    font-weight: 600;
    font-size: 20px;
    padding: 66px 0 8px 0;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}

.card-desc {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.9;
    text-align: center;
    line-height: 1.4;
}

.rating {
    text-align: center;
    position: relative;
    height: 0px;
}

.rating-num {
    position: relative;
    top: -24px;
    height: 24px;
    color: white;
    line-height: 24px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border-radius: 4px 4px 0 0;
    padding: 0 6px;
    background-color: #eb482f;
    color: white;
    width: auto;
    margin: 0 auto 0 auto;
    display: inline-block;
}

.rating-num ons-icon {
    font-size: 11px;
    vertical-align: -0px;
}

.action-col {
    text-align: center;
    opacity: 0.4;
    padding: 10px 0 8px;
}

.action-col:active {
    opacity: 0.7;
}

.action-col ons-button {
    padding: 0;
    line-height: 1;
}

.action-icon {
    padding: 0 0 4px 0;
}

.action-icon ons-icon {
    font-size: 28px;
}

.action-label {
    font-size: 12px;
}

.prop-desc {
    font-size: 14px;
    opacity: 0.7;
}

.prop-desc ons-icon {
    font-size: 14px;
    vertical-align: -0px;
    opacity: 0.5;
}

/* Instellingen */

.profile-wrapper {
    padding: 16px 10px 0 10px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: inset 1px rgba(0, 0, 0, 0.3);
}

.profile-name {
    font-size: 18px;
    padding: 4px 0 2px 0;
}

.profile-email {
    font-size: 15px;
    opacity: 0.4;
}

.switch--list-item {
    margin-right: 0px;
}

.settings-header {
    font-weight: 500;
    font-size: 14px;
    opacity: 0.4;
    padding: 10px 0 0px 10px;
    margin-bottom: -4px;
}

.settings-list {
    margin-top: 10px;
}